*.o
*~
Makefile
autom4te.cache
cfg_file.lex.c
cfg_file.tab.c
cfg_file.tab.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
pipe_dev.c
pty_dev.c
tap_dev.c
tcp_proto.c
tun_dev.c
udp_proto.c
